body{
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

h1{
	text-align: center;
	font-size: 56px;
	color: aquamarine;
}

.personal_info{
	margin: 0;
	height: 200px;
	width: 100%;
	background-color: rgba(0,128,128,0.8);
}

.top_bar{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: rgba(0,0,0,0.75);
	height: 70px;
}

.right_bar{
	margin: 0;
	width: 400px;
	height: 100% - 200px;
	position: absolute;
	right: 20px;
	top: 300px;
	bottom: 60px;
	background-color: rgba(0,0,0,0.75);
}

.content{
	margin: 0;
	position: absolute;
	left: 20px;
	right: 440px;
	top: 300px;
	bottom: 60px;
	background-color: rgba(0,0,0,0.75);
	width: 100% - 460px;
	height: 100% - 200px;
}

div.bottom_bar{
	margin: 0;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	height: 30px;
	background-color: rgba(0,0,0,0.75);
	position: absolute;
	bottom: 0px;
	width: 100%;
}

ul.bottom_bar{
	list-style: none;
	margin: auto 10px;
	padding: 0;
	float: right;
}

p.bottom_bar{
	margin: auto;
	color: aquamarine;
	font-family: "comic sans ms";
	font-size: 20px;
}

embed{
	margin: 0;
	height: 0;
	width: 0;
	position: absolute;
	left: -1000px;
	bottom: -1000px;
}

#operations,#operations li{
	list-style: none;
	margin: 0;
	padding: 0;
}

#operations li{
	
}

#operations li a {
	display:block; /* 将链接设为块级元素 */
	text-align: center;
	padding:8px 50px; /* 设置内边距 */
	background:rgba(100,128,128,0.75); /* 设置背景色 */
	color:#fff; /* 设置文字颜色 */
	font-family: "comic sans ms";
	font-size: 20px;
	text-decoration:none; /* 去掉下划线 */
	border-right:1px solid #000; /* 在左侧加上分隔线 */
}

#operations li a:hover {
	background-image: url(../img/button_hover01.png);
	background-color: rgba(0,128,128,0.75);
	background-repeat-x: none;
	background-repeat-y: none;
	background-size: contain;
	color:#CFF; /* 变换文字颜色 */
}

#profilePhoto{
	margin: 18px 18px;
	height: 164px;
	width: 164px;
	float: left;
	size: stretch;
}

#profileName{
	margin: 0;
	height: 200px;
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	font-family: "franklin gothic book";
	font-size: 50px;
	color: aquamarine;
}